@media (max-width: 1100px) and (min-width: 700px) {
  body {
    // background-color: green;
    padding-top: 40px;
    .heroGrid {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 400px 200px 1fr;
      .heroImg {
        grid-column: 1/3;
      }
      .newArticles {
        grid-column: 2/3;
        grid-row: 2/4;
      }
      .mainArticleTitle {
        grid-row: 2/3;
      }
      .mainArticleText {
        grid-column: 1/2;
        grid-row: 3/4;
      }
    }
    .numberedArticles {
      flex-wrap: wrap;
      padding-left: 50px;
      padding-right: 50px;
      article {
        margin-bottom: 34px;
        height: 127px;
        &:nth-child(3) {
          margin-bottom: 0;
          .text {
            padding-right: 25px;
          }
        }
      }
    }
  }
}
@media (max-width: 699px) {
  body {
    padding-top: 28px;
    padding-bottom: 82px;
  }
  .centerCont {
    width: 343px;
    padding-left: 0;
    padding-right: 0;
  }
  nav {
    img {
      width: 45px;
    }
    width: 100%;
    .linksContainer {
      display: none;
    }
    .linksContainerMobile {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 0px;
      right: -256px;
      width: 256px;
      height: 100vh;
      padding-top: 145px;
      padding-left: 24px;
      z-index: 1;
      font-size: 18px;
      font-weight: 500;
      color: hsl(240, 100%, 5%);
      background-color: hsl(36, 100%, 99%);
      transition: all 0.13s ease-in-out;
      a {
        margin-bottom: 27px;
      }
    }
    .linksContActive {
      right: 0px;
    }
    .blackout {
      display: none;
      position: absolute;
      right: 0;
      left: 0;
      top: 0;
      bottom: 0;
      background-color: hsla(273, 85%, 3%, 0.55);
    }
    .blackoutActive {
      display: block;
    }
    .hamburger {
      display: block;
    }
  }
  .heroGrid {
    display: block;
    padding-top: 32px;
    margin-bottom: 63px;
  }
  .heroImg {
    height: 300px;
    background-image: url(/assets/images/image-web-3-mobile.jpg);
  }
  .mainArticleTitle {
    width: 280px;
    margin-top: 24px;
    margin-bottom: 15px;
    font-size: 40px;
    letter-spacing: 0.007em;
  }
  .mainArticleText {
    p {
      line-height: 1.7;
      margin-bottom: 25px;
    }
    button {
      margin-bottom: 64px;
    }
  }
  .newArticles {
    padding: 21px;
    h2 {
      margin-bottom: 32px;
      font-size: 32px;
    }
    article {
      p {
        margin-top: 8px;
      }
      &:last-child {
        p {
          margin-bottom: 5px;
        }
      }
    }
  }
  .numberedArticles {
    display: block;
    article {
      margin-bottom: 34px;
      height: 127px;
      &:nth-child(3) {
        margin-bottom: 0;
        .text {
          padding-right: 25px;
        }
      }
    }
  }
}
